footer {
    height: 100px;
    background-color: rgb(185, 231, 240);
    color: black;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}